
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Upload Video</title>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Upload Video</h1>
        <form method="POST" enctype="multipart/form-data" action="{% url 'upload_video' %}">
                {% csrf_token %}

                <div class="form-group">
                    <label for="video_file">Title:</label>
                    <input type="file" class="form-control-file" id="video_file" name="video_file">
                </div>
            <button type="submit" class="btn btn-primary">Upload Video</button>
        </form>
    </div>
        <!-- 서버에서 저장된 비디오 파일 경로 -->
    <br><br>
    {% if video_path %}
        <div class="embed-responsive embed-responsive-21by9">
            <iframe class="embed-responsive-item" src="{{ video_path }}" allowfullscreen></iframe>
        </div>
    
        <video controls>
            <source src="{{ video_path }}" type="video/mp4">
    
            Your browser does not support the video tag.
        </video>
    {% else %}
        <p>No video available.</p>
    {% endif %}

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>