# Safezone requirements
# Usage: pip install -r requirements.txt

# Base ------------------------------------------------------------------------
Django == 4.1.5
django-environ
django-bootstrap4
Pillow