{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <title>관리자 삭제</title>
    <link rel="stylesheet" href="{% static 'css/account_app/delete.css' %}">
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="form-container">
        <form action="{% url 'account_app:delete' pk=target_user.pk %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <h1>관리자 탈퇴</h1>
                <h4>정말로 삭제하시겠습니까?</h4>
                {{ form.as_p }}
                <div class="btn-container">
                    <button type="submit" class="btn btn-danger">확인</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
