{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <title>관리자 정보</title>
    <link rel="stylesheet" href="{% static 'css/account_app/profile.css' %}">
    <script src="https://kit.fontawesome.com/35b6327311.js" crossOrigin="anonymous"></script>
{% endblock %}

{% block body %}
    <div class="form-container">
        <img src="{% static 'image/safezone_logo.png' %}" alt="logo" class="logo">
        <br><img src="{% static 'image/safezone_name_logo.png' %}" class="logo_name">
        <div class="username-container">
            {{ form.username }}
            <i class="fa-solid fa-helmet-safety"></i>
        </div>
        <div class="password-container">
            {{ form.password1 }}
            <i class="fa fa-key fa-lg"></i>
        </div>
        <div class="password2-container">
            {{ form.password2 }}
            <i class="fa fa-key fa-lg"></i>
        </div>
        <div class="nickname-container">
            {{ form.nickname }}
            <i class="fa-solid fa-user"></i>
        </div>
        <div class="email-container">
            {{ form.email }}
            <i class="fa-solid fa-envelope"></i>
        </div>
        <div class="phone-container">
            {{ form.phone }}
            <i class="fa-solid fa-mobile"></i>
        </div>
        <div class="ml-container">
            {{ form.management_locations }}
{#            <i class="fa-solid fa-location"></i>#}
        </div>

            {% if target_user.pk == request.user.pk %}
            <a href="{% url 'account_app:update' pk=user.pk %}">
                <p class="btn_update">
                    프로필수정
                </p>
            </a>
              <a href="{% url 'account_app:delete' pk=user.pk %}">
                <p class="btn_delete">
                    관리자삭제
                </p>
            </a>
            {% endif %}
    </div>
{% endblock %}
