{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <title>관리자 정보 수정</title>
    <link rel="stylesheet" href="{% static 'css/account_app/update_admin.css' %}">
    <script src="https://kit.fontawesome.com/35b6327311.js" crossOrigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}
    <div class="form-container">
        <img src="{% static 'image/safezone_logo.png' %}" alt="logo" class="logo">
        <br><img src="{% static 'image/safezone_name_logo.png' %}" class="logo_name">
        <form action="{% url 'account_app:update' pk=target_user.pk %}" method="post">
            {% csrf_token %}
            <div class="username-container">
            {{ form.username }}
            <i class="fa-solid fa-helmet-safety"></i>
            </div>
            <div class="password-container">
                {{ form.password1 }}
                <i class="fa fa-key fa-lg"></i>
            </div>
            <div class="password2-container">
                {{ form.password2 }}
                <i class="fa fa-key fa-lg"></i>
            </div>
            <div class="nickname-container">
                {{ form.nickname }}
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="email-container">
                {{ form.email }}
                <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="phone-container">
                {{ form.phone }}
                <i class="fa-solid fa-mobile"></i>
            </div>
            <div class="ml-container">
                {{ form.management_locations }}
                <i class="fa-solid fa-location"></i>
            </div>
            <div class="btn-container">
                <button type="submit" class="btn btn-register">변경</button>
            </div>
        </form>
    </div>
{% endblock %}
