@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body {
    background-color: #0e0f37;
    font-family: 'nanumsquare', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: black;
    margin-bottom: 50px;
}

.logo {
    width: 22rem;
    height: 15rem;
    margin-left: 10rem;
    margin-top: 0rem;
}

.logo_name {
    margin-top: 10px;
    width: 300px;
    height: 50px;
    margin-left: 50px;
    margin-bottom: 40px;
}


.form-container {
    position: fixed;
    height:80rem;
    top: 50%;
    left: 50%;
    padding: 50px;
    min-width: 500px;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 40px;
}


.form-container label {
    margin-left: 40px;
    display: block;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #0f1020;
}

.form-container input[type="text"],
.form-container input[type="password"] {

    border-radius: 3px;
    width: 100%;
    padding: 12px 40px;
    margin: 8px 0;
    background-color: #ffffff;
    display: inline-block;
    color: #0e0f37;
    border: 1px solid #0e0f37;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
    outline: none;
    color: #0e0f37;
    background-color: #ffffff;
}

.form-container label i {
    margin-right: 10px;
    vertical-align: middle;
}


.name-container {
    position: relative;
    width: 80%;
    margin-left: 4rem;

}

.name-container i{
    position: absolute;
    left: 13px;
    top: 25px;
    font-size: 18px;
    color: #0e0f37;
}



.email-container {
    position: relative;
    width: 80%;
    margin-left: 4rem;
}

.email-container i{
    position: absolute;
    left: 13px;
    top: 25px;
    color: #0e0f37;
}

.phone-container {
    position: relative;
    width: 80%;
    margin-left: 4rem;
    margin-top: 2rem;
}

.phone-container i{
    position: absolute;
    left: 13px;
    top: 25px;
    color: #0e0f37;
}

.ml-container {
    position: relative;
    width: 89.5%;
    height: 50px;
    margin-left: 2rem;
    margin-top: 0.5rem;
}
.ml-container i {
    position: absolute;
    left: 30px;
    top: 25px;
    color: #0e0f37;
}

.image-container {
    position: relative;
    width: 89.5%;
    height: 50px;
    margin-left: 2rem;
    margin-top: 0.5rem;
}

.image-container i{
    position: absolute;
    left: 30px;
    top: 25px;
    color: #0e0f37;
}


.ml-select option{
    margin-left: 13px;   /* or any value you want */
}

.image-container{
    display: block;
    width: 50%;
    height: 50%;
    border-radius: 1rem;
    margin: 2rem auto;
    object-fit: cover;
}

.btn_update{
    display: block;
    color: #4BBFE1;
    text-align: center;
    margin-top: 4rem;
    font-size: 2rem;
}

.btn_delete{
    display: block;
    color: red;
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
}