body {
    background-color: #0e0f37 !important;
    font-family: 'nanumsquare', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    padding: 1rem;
    margin: 0 auto;
}

.container a:hover {
    text-decoration: none;
}


.container div {
  padding: 5px;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.container img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 1rem;
}

 /* 현장 관리자 등록 버튼 스타일 */
.btn-container{
    text-align: center;
}

.btn-register {
    background-color: white !important;
    border: 0.5px solid white;
    color: white;
    margin-bottom: 20px;
}

.btn-register:hover {
    background-color: white;
    border: 0.5px solid #0e0f37;
    color: #0e0f37;
}

.btn-register:active {
    background-color: white;
    color: #0f1020;
}

.btn {
    font-size: 16px;
}

.btn-secondary:active {
    background-color: cornflowerblue !important;
    color: black !important;
}

.btn-secondary {
    background-color: white !important;
    color: black !important;
}

.text-container {
    text-align: center;
    margin-top: 30rem;
    margin-bottom: 10rem;
    color: white;
}