{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <title>현장 관리자 정보</title>
    <link rel="stylesheet" href="{% static 'css/siteadmin_app/detail.css' %}">
{% endblock %}

{% block body %}
    <div class="form-container">
        <img src="{{ target_siteadmin.image.url }}" alt="" class="image-container">
        <div class="name-container">
            {{ form.name }}
            <i class="fa-solid fa-helmet-safety"></i>
        </div>
        <div class="phone-container">
            {{ form.phone }}
            <i class="fa-solid fa-mobile"></i>
        </div>
        <div class="ml-container">
            {{ form.management_locations }}
{#            <i class="fa-solid fa-location"></i>#}
        </div>

        <a href="{% url 'siteadmin_app:update' pk=target_siteadmin.pk %}"
        class="btn_update">
            수정하기
        </a>
          <a href="{% url 'siteadmin_app:delete' pk=target_siteadmin.pk %}"
          class="btn_delete">
            삭제하기
        </a>
    </div>
{% endblock %}
