{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <title>현장 관리자 정보 수정</title>
    <link rel="stylesheet" href="{% static 'css/siteadmin_app/update.css' %}">
{% endblock %}

{% block body %}
    <div class="form-container">
        <h1>현장 관리자 정보 수정</h1>
        <form action="{% url 'siteadmin_app:update' pk=target_siteadmin.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="image-container">
                {{ form.image }}
{#                <i class="fa-solid fa-image"></i>#}
            </div>
            <div class="name-container">
                {{ form.name }}
                <i class="fa-solid fa-helmet-safety"></i>
            </div>
            <div class="phone-container">
                {{ form.phone }}
                <i class="fa-solid fa-mobile"></i>
            </div>
            <div class="ml-container">
                {{ form.management_locations }}
                <i class="fa-solid fa-location"></i>
            </div>
            <div class="btn-container">
                <button type="submit" class="btn btn-cancel" onclick="window.history.back();">취소</button>
            </div>
            <div class="btn-container">
                <button type="submit" class="btn btn-register">변경</button>
            </div>
        </form>
    </div>
{% endblock %}