{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <title>현장 관리자 정보 수정</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/35b6327311.js" crossOrigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/siteadmin_app/create.css' %}">
{% endblock %}

{% block body %}
    <div class="form-container">
        <h1>현장 관리자 정보 수정</h1>
        <form action="{% url 'siteadmin_app:update' pk=target_siteadmin.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="name-container">
                {{ form.name }}
                <i class="fa-solid fa-helmet-safety"></i>
            </div>
            <div class="email-container">
                {{ form.email }}
                <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="ml-container">
                {{ form.management_locations }}
                <i class="fa-solid fa-location"></i>
            </div>
            <div class="phone-container">
                {{ form.phone }}
                <i class="fa-solid fa-mobile"></i>
            </div>
            <div class="image-container">
                {{ form.image }}
                <i class="fa-solid fa-image"></i>
            </div>
            <div class="btn-container">
                <button type="submit" class="btn btn-register">변경</button>
            </div>
        </form>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}